.cards {
    padding: 4rem;
    background: #fff;
    
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
    
  }

  .cards__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-color: rgba(56, 125, 255, 0.017);
    /* flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
  }

  .cards__items > .cards__item {
    /* flex: 1 1 33.3333%; */
    width: 30%;
  }

  
  
  .cards__item {
    display: flex;
    flex-grow: 1 1 30%;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
    text-decoration: none;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none !important;
  }
  
  .button-details{
    border-radius: 5%;
    margin: 5%;
    
    width: 40%;
    height: 25%;
  }
  .button-details:hover{
    width: 45%;
    color: whitesmoke;
    background-color:turquoise;
  }
  

  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
      text-decoration: none;
    }
   
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
      text-decoration: none;
    }
    
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
      text-decoration: none;
    }
 
  }
  @media only screen and (min-width: 960px)
  {
    
    .cards__items > .cards__item {
      /* flex: 1 1 33.3333%; */
      width: 28%;
      text-decoration: none;
    }
    .cards__items > .cards__item_only{
      width: 100%;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 960px)
  {
    
    .cards__items > .cards__item {
      /* flex: 1 1 33.3333%; */
      width: 40%;
      text-decoration: none;
    }
  }
  
  @media only screen and (max-width: 612px)
  {
   
    .cards__items > .cards__item {
      /* flex: 1 1 33.3333%; */
      width: 100%;
      text-decoration: none;
    }
  }

/*___________________________________________________*/

/* .main_content
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
 
}

.matn_content h3{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 10.5vw;

}

.card_p{
  width: 30%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: scale(.8);
  transition: all .3s ease-in-out;
  margin-bottom: 50px;

}

.card__img{
  width: 200px;

}

.card__header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 25px 0;

}

.card__header h2{
  font-size: 18px;

}

.card__header p{
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 8px 0;
} */